body {
    font-family: 'Nunito Sans';
    font-weight: lighter;
    background-color: #011502;
    height: 100vh;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #011502;
}

.logo {
    width: 200px;
    height: auto;
}

.menu-mobil {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    width: 24px;
    height: 16px;
    
}

.linkcontainer {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.linkcontainer a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;   
}

.linkcontainer a:hover {
    border-bottom: 1px solid #fff;
}

.social {
    list-style: none;
    display: flex;
    gap: 10px;
}

.herotext {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2rem;
}

.buttons a {
    padding: 12px 28px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.buttons a:hover {
     border-bottom: 1px solid #fff;
}


.hero {
      background-image: url("images/Herobild.jpg");
      height: 70vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
}

.hero.hidden {
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    margin-top: 10px;
    grid-gap: 5px;
    background-color: #fff;
}

.gallery img {
    width: 100%;
    height: 100%;
}

.gallery-item3 {
    grid-column: span 2;
    grid-row:span 2; 
}

.gallery-item5 {
    grid-column: span 2;
}

.gallery-item7 {
    grid-column: span 2;
}
.gallery-item8 {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery-item12 {
    grid-column: span 2;
}


@media (max-width: 768px) {
    .linkcontainer {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
    }

    .menu-mobil {
        display: block;
    }

    .linkcontainer.active {
        display: flex;
    }
}

@media (min-width: 768px) {
    .hero {
        display: block !important;
    }

}