body {
    font-family: 'Nunito Sans';
    font-weight: lighter;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #01200f;
}

.logo {
    width: 200px;
    height: auto;
}


.linkcontainer {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.linkcontainer a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}



.social {
    list-style: none;
    display: flex;
    gap: 10px;
}